.text-white {
    color:white;
}

.justify-content-center {
    justify-content: center!important;
}

/*NAVBAR*/
.navbar a{
    color:white;
margin-left: 10px;
}
	

.navbar a:hover{
    color:white;
	margin-left: 10px;
	text-decoration: underline;
}

.intro-bg {
	background-color:#b8daff !important;
	width:100%;
}

.nav-link a:hover{
    color:white !important;
	margin-left: 10px;
	text-decoration: underline;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
}
.nav-lightblue{
	background-color: #cde1ec;
}

/*others*/
.d-flex {
    display: flex!important;
}

.border-bottom {
    border-bottom:1px solid #dee2e6!important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid!important;
        border-bottom-color: rgb(222, 226, 230) !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bg-primary {
    background-color: #07689F !important;
}

.bg-dark {
    background-color: #4e4e4e !important;
}

h2{
	font-size: 1.5rem !important;
}

footer{
	height: 80px;
}
